<%- include('../layout/hlavicka'); %>

<div>
    <input id="jmeno" placeholder="Jméno..." type="text" /><br />
    <input id="heslo" placeholder="Heslo..." type="password" /><br />
    <button id="prihlasit">Přihlásit</button>
    <span id="hlaseni" style="color: red"></span><br />
    <a href="/uzivatel/registrace">Nemáte účet?</a>
</div>

<%- include('../layout/paticka'); %>
