<%- include('../layout/hlavicka') %>

<a href="/poznamka/pridani">Přidat poznámku</a>
<a href="/poznamka/prehled">Moje poznámky</a>
<p>Jste přihlášeni jako <span style="font-weight: bold"><%= uzivatel %></span>.</p>
<button id="odhlasit">Odhlásit</button>
<button id="smazat">Smazat účet</button>

<%- include('../layout/paticka') %>
