<%- include('../layout/hlavicka') %>

<div>
    <input id="jmeno" placeholder="Jméno..." type="text" /><br />
    <input id="email" placeholder="Email..." type="email" /><br />
    <input id="heslo" placeholder="Heslo..." type="password" /><br />
    <input id="heslo_kontrola" placeholder="Heslo pro kontrolu..." type="password" /><br />
    <button id="registrovat">Registrovat</button>
    <span id="hlaseni" style="color: red"></span><br />
    <a href="/uzivatel/prihlaseni">Už máte účet?</a>
</div>

<%- include('../layout/paticka') %>
