<%- include('../layout/hlavicka'); %>

<div>
    <input id="heslo" placeholder="Zadejte svoje heslo..." type="password" /><br />
    <button id="potvrdit">Potvrdit smazání účtu</button>
    <span id="hlaseni" style="color: red"></span><br />
    <a href="/uzivatel/profil">Zpět na profil</a>
</div>

<%- include('../layout/paticka'); %>
