<%- include('../layout/hlavicka') %>

<a href="/uzivatel/profil">Zpět na profil</a>

<div>
    <input type="text" id="nadpis" placeholder="Nadpis..." />
    <br />
    <textarea id="telo" placeholder="Tělo..."></textarea>
    <br />
    <button id="pridat">Přidat poznámku</button>
    <span id="hlaseni" style="color: red"></span>
</div>

<%- include('../layout/paticka') %>
